.App {
  --border-gray: #e7e7e7;
  --font-gray: rgba(55, 53, 47, 0.65);
  --checkbox-bg: #288cff;

  --grid-default-width: 200px;
  --grid-padding: 5px 10px;

  color: rgb(55, 53, 47);
}

.grid_common {
  width: var(--grid-default-width);
  max-width: var(--grid-default-width);
  min-width: 60px;
  border: 1px solid var(--border-gray);
  border-right: none;
  border-bottom: none;
  padding: var(--grid-padding);
  text-align: start;
  font-weight: normal;
  word-wrap: break-word;

  &:first-child {
    border-left: none;
  }
}
